.profile-creation-wrapper {
  max-width: 70%;
  margin-inline: auto;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-creation-main {
  flex: 1;
}

.skills {
  width: 200px;
  padding: 16px 24px;
  display: flex;
  gap: 8px;

  .ant-typography {
    color: black;
    margin: 0;
  }
}
