.profile-header,
.profile-sider,
.profile-layout {
  box-shadow:
    0 0 18px rgba(0, 255, 255, 0.55),
    inset 0 0 25px rgba(0, 120, 255, 0.25) !important;
}

.profile-layout {
  border: 2px solid rgba(0, 255, 255, 0.55);
  height: calc(100vh - 60px);

  .ant-layout-sider-trigger {
    position: relative;
  }
}

.profile-sider {
  border-right: 2px solid rgba(0, 255, 255, 0.55);
  padding-top: 60px;
}

.profile-header {
  border-bottom: 2px solid rgba(0, 255, 255, 0.55);
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 16px;
}

.profile-content {
  padding: 20px;
  overflow: auto;
}

.ant-badge.ant-dropdown-trigger:hover {
  cursor: pointer;
}

.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
  padding: 8px 0;

  span.anticon {
    margin-right: 8px;
  }
}

.ant-progress {
  border: 1px solid rgba(0, 255, 255, 0.55);
  padding: 2px;
  border-radius: 6px;
  max-width: 80px;
}

.notifications-readall {
  font-size: 10px;
  color: #008c95;
}

.ant-btn.ant-btn-variant-link.notifications-readall:hover {
  color: rgba(0, 255, 255, 0.75);
}

.ant-typography-ellipsis-single-line.notifications-text {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.55);
  max-width: 120px;
}
